body {
  background-color: tan;
}

h1 {
  align-content: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  font-family: verdana;
  font-size: 200%;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

#top {
  color: blue;
  font-size: 150%;
}

a:link {
  color: black;
  background-color: white;
  font-family: monospace;
}

/*
p:hover {
  color: white;
  background-color: black;
  font-family: garamond;
}
*/
p:hover {
  background-color: lightblue;
}

p::first-letter {
  font-size: 200%;
  background-color: black;
  color: white;
}